:root {
  --heartshift: 5px;
}

html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px #f475ff;
  background: url("../images/background-pic-3.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul, ol{
  text-align: left;
}

.dan {
  font-size: 20px;
  font-weight: bold;
  color:blueviolet ;
}

.menu {
  font-weight: 600;
  color: #0c2ef0;
  background-color:rgba(255, 20, 145, 0.308);
  width: 155px;
  float: left;
}

.menu a {
  text-decoration: none;
  font-style: normal;
}

#meow {
  text-align: left;
  color:#0c2ef0
}

a:visited{
  color: deeppink;
}





.red {
  color: red;
}


h1 {
  font-size: 72px;
  text-decoration: underline overline;
  text-shadow: 4px 4px 35px #ff00ff;
  
  text-underline-offset: 27px;
}

h6 {
  transform: translateY(-50px);
  text-shadow: 2px 2px 2px #0c2ef0;
}

h1 img {
  width: 75px;
  transform: translateY(var(--heartshift));
  animation: emilyspulse 1.2s ease-in-out infinite alternate-reverse;
}

a img {
  transition: 3s ease-in-out all;
  width: 100px; 
}

/*a img:hover {
  transform: rotate(720deg);
}*/

@keyframes emilyspulse {
  from {
    transform: scale(1) translateY(var(--heartshift));
  }
  to {
    transform: scale(1.45) translateY(var(--heartshift));
  }
}